.see-more-section{
  display: flex;
  justify-content: center;
  margin: 0 20px;
  margin-top: -100px;
  color: #e6e6e6;
}
.see-more-div{
  text-align: center;
  max-width: 400px;
  border: solid 1px #e6e6e6;
  border-radius: 40px;
  background-color: #5858589a;
  backdrop-filter: blur(10px);
  padding: 30px 60px;
}

.button{
  text-decoration: none;
}

.button.secondary {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #e6e6e6;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}
.button.secondary::hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.gradient-gap{
  background-color: gradient(to bottom, rgba(51, 51, 51, 0) 80%, #040404 0%);
}