.hero-section{
    color: #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

.hero-section .left-hero-div{

}
.hero-section .right-hero-div{

}
.hero-section .right-hero-div .hero-text-div{

}