.see-more-section{
  display: flex;
  justify-content: center;
  margin-top: -100px;
  color: var(--main-color-alt);
  position: relative;
}
.see-more-div{
  text-align: center;
  max-width: 400px;
  border: solid 1px var(--card-edge-color);
  border-radius: 40px;
  background-color: var(--card-background-color);
  backdrop-filter: blur(10px);
  padding: 30px 60px;
  margin-bottom: 4px;
}

.gradient-gap{
  position: absolute;
  background-image: linear-gradient(0deg,rgba(51, 51, 51, 80%) 0%, rgba(4, 4, 4, 0) 80%);
  flex-grow: 1;
  top: -200px;
  bottom: 0;
  left: 0;
  right: 0;
}