.button{
  text-decoration: none;
}
.button.primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--main-color-alt);
  border: solid 1px var(--button-edge-cta-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button.primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button.secondary {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--main-color-alt);
  border: solid 1px var(--button-edge-secondary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}