.button{
  text-decoration: none;
}
.button.primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #e6e6e6;
  border: solid 1px #ffd501;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button.primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button.secondary {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #e6e6e6;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}