.hero-section{
    color: #ccc;
    display: flex;
    justify-content: space-between;
}

.hero-section .left-hero-div{

}
.hero-section .right-hero-div{

}
.hero-section .right-hero-div .hero-text-div{

}
.hero-section .hero-buttons-div{
    display: flex;
    gap: 16px;
}